@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,800;1,700&display=swap');
@import "reset.css";
@import "status-bar.css";    
@import "variables.css";

body {
    font-family: 'Open Sans', sans-serif;
}

.welcome-kakao {
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.welcome-kakao__title {
    font-size: 30px;
    margin-bottom: 20px;
}

.welcome-kakao__text {
    width: 50%;
    opacity: 0.7;
    font-size: 15px;
    line-height: 25px;
}


#login-form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

#login-form input {
    border: none;
    padding: 15px 0px;
    font-size: 18px;   
    margin: 15px 0px;
}


/*221220*/
#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0,0,0,0.3);
    transition: border-color 0.3s ease-in-out;
}
/*221220*/

#login-form input::placeholder {
    color: rgba(0,0,0,0.3);
    
}

#login-form input:focus{
    border-color: var(--yellow);
    
}

/*221220*/
#login-form input[type="submit"]{
    background-color: var(--yellow);
    cursor: pointer;
    padding: 20px 0px;
    border-radius: 5px;
}
/*221220*/

/*221220*/
#login-form a {
    text-align: center;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}
/*221220*/